/*
============================
Name:  Lawsy Law Consulting Theme
Version: 1.0.0
Description:Lawsy law - Lawyer & Attorney Consulting Templete
Author: vikinglab
Version: 1.0.0
Author URI: https://themeforest.net/user/vikinglab/portfolio
Location:
============================
*/

.service-header h2 {
    font-family: "Playfair Display", serif !important;
    font-size: 2em;
}